{##################}
{### POST COVER ###}
{##################}
<div class="post-block-cover">
 <img src="{{ url_for(post.cover_img) }}" alt="{{ post.cover_img }}">
</div>
{######################}
{### END POST COVER ###}
{######################}