{% macro render(posts) %}
{%- for post in posts.toArray() %}
  <article itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
      {{ partial('_macro/post-card.njk', {post: post}) }}
    </header>
  </article>

{%- endfor %}
{% endmacro %}
