{#################}
{### POST INFO ###}
{#################}
<div class="track-cover">
  <img alt="cover">
</div>

<div class="track-card">
  <h3 class="track-info-title"></h3>
  <div class="track-info-meta"></div>
  <p class="track-info-description"></p>
  <a href="#" class="track-info-readmore">继续阅读→</a>
</div>
{#####################}
{### END POST INFO ###}
{#####################}
