@import 'variables.styl'

// 页面背景图片
body
  background: url(/images/core/bg.jpg) no-repeat center center fixed
  background-size: cover
  position: relative
  color: $color-body-text-custom
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif

// 图片遮罩
body::before
  content: ''
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $color-overlay-custom
  z-index: -1

// 去除头梁
.headband
  display: none !important