// 深色模式背景和字体颜色
$body-bg-color-dark = #2b003d
$content-bg-color-dark = rgba(109, 31, 119, 0.7)
$card-bg-color-dark = rgba(95, 233, 203, 0.7)
$text-color-dark = #d6c9ff
$link-color-dark = #d6c9ff
$link-hover-color-dark =rgb(255, 194, 103)

// Site Logo 部分颜色
$brand-color-dark = rgba(95, 233, 203, 0.7)
$brand-hover-color-dark = rgb(255, 194, 103)

// 按钮颜色
$btn-default-bg-dark = #3a0050
$btn-default-color-dark = #d6c9ff
$btn-default-border-color-dark = rgba(255, 255, 255, 0.1)
$btn-default-hover-bg-dark = #4c006a
$btn-default-hover-color-dark = #a8a1ff
$btn-default-hover-border-color-dark = rgba(255, 255, 255, 0.2)

// 选区颜色
$selection-bg-dark = #664c99
$selection-color-dark = #fff
$menu-item-bg-color-dark = rgba(95, 233, 203, 0.7)

// 颜色变量定义
$color-body-text-custom = #eae3ff
$color-overlay-custom = rgba(40, 0, 60, 0.5)