// 浅色模式（暂时和深色同色值）
$body-bg-color = #2b003d;
$content-bg-color = rgba(109, 31, 119, 0.4);
$card-bg-color = rgba(233, 95, 180, 0.7);
$text-color = #d6c9ff;
$link-color = #d6c9ff;
$link-hover-color = rgb(255, 194, 103);

$brand-color = rgba(95, 233, 203, 0.7);
$brand-hover-color = rgb(255, 194, 103);

$btn-default-bg = #3a0050;
$btn-default-color = #d6c9ff;
$btn-default-border-color = rgba(255, 255, 255, 0.1);
$btn-default-hover-bg = #4c006a;
$btn-default-hover-color = #a8a1ff;
$btn-default-hover-border-color = rgba(255, 255, 255, 0.2);
$b2t-bg-color = rgba(233, 95, 180, 0.5);

$selection-bg = #664c99;
$selection-color = #fff;
$menu-item-bg-color = rgba(233, 95, 180, 0.5);

$tag-cloud-start = #00ffff;
$tag-cloud-end = #003366;

// 深色模式
$body-bg-color-dark = #2b003d;
$content-bg-color-dark = rgba(109, 31, 119, 0.4);
$card-bg-color-dark = rgba(233, 95, 180, 0.7);
$text-color-dark = #d6c9ff;
$link-color-dark = #d6c9ff;
$link-hover-color-dark = rgb(255, 194, 103);

$brand-color-dark = rgba(95, 233, 203, 0.7);
$brand-hover-color-dark = rgb(255, 194, 103);

$btn-default-bg-dark = #3a0050;
$btn-default-color-dark = #d6c9ff;
$btn-default-border-color-dark = rgba(255, 255, 255, 0.1);
$btn-default-hover-bg-dark = #4c006a;
$btn-default-hover-color-dark = #a8a1ff;
$btn-default-hover-border-color-dark = rgba(255, 255, 255, 0.2);
$b2t-bg-color = rgba(233, 95, 180, 0.5);

$selection-bg-dark = #664c99;
$selection-color-dark = #fff;
$menu-item-bg-color-dark = rgba(233, 95, 180, 0.5);

$tag-cloud-start-dark = #00ffff;  // 青色
$tag-cloud-end-dark = #003366;

// 个性化
$color-body-text-custom = #eae3ff;
$color-overlay-custom = rgba(40, 0, 60, 0.5);
$color-sidebar-custom = rgba(58, 19, 109, 0.4);
$color-blockquote-custom = rgba(41, 11, 175, 0.4);
$color-blockquote-bar-custom = rgba(67, 86, 175, 0.8);
$color-blockquote-text-custom = rgb(133, 195, 253);
$color-markdown-title-text-custom =rgb(213, 170, 226);
$color-markdown-title-decoration-custom =rgb(159, 132, 167);
$color-tagcloud-container-custom = rgba(255, 105, 180, 0.05);
$color-clock-custom = #c78b38;
$color-clock-update-custom = #d9a741;