.post-card {
  display: flex;
  flex-direction: row;
  background-color: $article-card-bg;
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 150px;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12),
              0 0 25px 10px $color-img-box-shadow-hover-custom; /* 荧光轮廓 */
}

.post-card-image {
  position: relative; /* 让伪元素相对定位 */
  flex: 0 0 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  clip-path: polygon(
    0 0, 20px 10px, 10px 20px, 25px 30px, 10px 40px, 30px 50px, 20px 70px, 
    35px 50%, 15px 60%, 25px 70%, 10px 80%, 20px 90%, 
    0 100%, 100% 100%, 100% 0
  );
}

.post-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.8s ease;
}

/* 灰白色蒙版 */
.post-card-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $article-card-img-mask;
  pointer-events: none; /* 不影响点击 */
  transition: background 0.3s ease;
}

/* hover 时图片放大 */
.post-card:hover .post-card-image img {
  transform: scale(1.1);
}

/* hover 时淡化蒙版 */
.post-card:hover .post-card-image::after {
  background: rgba(255, 255, 255, 0);
}

.post-card-content {
  flex: 1;
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
}

.post-card-title {
  font-size: 1.25rem;
  margin: 0px;
}

.post-card-title a {
  text-decoration: none;
}

.post-card-excerpt {
  font-size: 0.95rem;
  margin: 8px;

  display: -webkit-box;        /* 必须，用于多行截断 */
  -webkit-box-orient: vertical; /* 必须，设置为垂直方向 */
  -webkit-line-clamp: 2;       /* 显示的最大行数，例如 3 行 */
  overflow: hidden;            /* 超出隐藏 */
  text-overflow: ellipsis;     /* 显示省略号 */
}

.post-card-meta {
  font-size: 0.8rem;
  margin: 0;
  margin-top: auto;
  opacity: 0.4;
}

.post-card-btn {
  align-self: flex-start;
  padding: 2px 4px;
  font-size: 0.85rem;
  background-color: $btn-default-bg;       // 背景色
  color: $btn-default-color;               // 文字颜色
  border: 1px solid $btn-default-border-color; // 边框颜色
  border-radius: 6px;
  text-decoration: none;
}

.post-card-btn:hover {
  background-color: $btn-default-hover-bg;
  color: $btn-default-hover-color;
  border-color: $btn-default-hover-border-color;
}

