/* 右侧详情区域 */
.track-detail {
  position: absolute;
  top: 0;
  right: 2%;
  width: 38%;
  height: 100%;       /* 整体撑满容器 */
  overflow: hidden;
  display: block;     /* 外层不要 flex */
  gap: 0;

  /* 左右渐变遮罩，左边 5%，右边 5% */
  -webkit-mask-image: 
    linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-composite: destination-in;

  mask-image: 
    linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-composite: intersect;

  /* 动画 */
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.track-detail.fade-out {
  opacity: 0;
  transform: translateX(20px); /* 向右淡出 */
}

.track-detail.fade-in {
  opacity: 1;
  transform: translateX(0); /* 从右淡入 */
}

/* 封面图，占 30% 高度 */
.track-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;        /* 3:7 */
  overflow: hidden;
}

.track-cover a,
.track-cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 内容卡片，占 70% 高度 */
.track-card {
  position: absolute;
  top: 30%;           /* 紧贴封面下方 */
  left: 0;
  width: 100%;
  height: 70%;        /* 3:7 */
  padding: 1.2rem 2rem 2rem 2rem;
  background: $article-track-info-bg;
  box-sizing: border-box;
  display: block;
}

/* 标题 */
.track-card .track-title {
  height: 10%;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;          /* 超出部分隐藏 */
  text-overflow: ellipsis;   /* 超出文字显示省略号 */
  white-space: nowrap;       /* 不换行 */
}

/* meta 信息 */
.track-meta {
  width: 100%;
  height: 12%;
  font-size: 0.8rem;
  line-height: 1.0rem;
  color: #888;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  word-break: break-word;         /* 强制长单词换行 */
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 简介 */
.track-card .track-description {
  font-size: 1.0rem;
  line-height: 1.5rem;
  margin-top: 0;
  height: 60%;
  overflow: hidden;
}

.track-readmore {
  display: inline-block;          /* 变成块级/行内块 */
  margin-top: auto;               /* 推到卡片底部 */
  padding: 0.5rem 1%;         /* 内边距 */
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $btn-default-bg;
  border: none;                   /* 去掉默认边框 */
  border-radius: 4px;             /* 圆角 */
  text-decoration: none;          /* 去掉下划线 */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  width: 98%;
  height: 10%;
}

.track-readmore:hover {
  background-color: $btn-default-hover-bg;      /* hover 背景色 */
  transform: translateY(-1px);    /* 小幅上移 */
}