{% extends '_layout.njk' %}

{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ __('title.category') }}: {{ page.category }} | {{ title }}{% endblock %}

{% block class %}category posts-collapse{% endblock %}

{% block content %}

  {######################}
  {### CATEGORY BLOCK ###}
  {######################}
  <div class="post-block">
    <div class="post-content">
      <div class="collection-title">
        <h1 class="collection-header">
          {{- page.category }}
          <small>{{ __('title.category') }}</small>
        </h1>
      </div>

      {% for post in site.posts.toArray() | reverse %}
        {% for cat in post.categories.toArray() %}
          {% if cat.name == page.category %}
            <article itemscope itemtype="http://schema.org/Article">
              <header class="post-header">
                {{ partial('_macro/post-card.njk', {post: post}) }}
              </header>
            </article>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </div>
  </div>
  {##########################}
  {### END CATEGORY BLOCK ###}
  {##########################}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
