{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ title }}{% if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{% endif %}{% endblock %}

{% block class %}index posts-expand{% endblock %}

{% block content %}

  {# 获得所有主页文章 #}
  {% set home_posts = [] %}
  {% for p in page.posts.toArray() %}
    {% if p.home %}
      {% set home_posts = home_posts.concat([p]) %}
    {% endif %}
  {% endfor %}

  {# 随机选择一篇主页文章 #}
  {% if home_posts | length %}
    {% set home_post = home_posts | random %}
    <section>
      <article>
        {{ home_post.content }}
      </article>
    </section>
  {% endif %}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
