{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ __('title.tag') }}: {{ page.tag }} | {{ title }}{% endblock %}

{% block class %}tag posts-collapse{% endblock %}

{% block content %}

  {#################}
  {### TAG BLOCK ###}
  {#################}
  <div class="post-block">
    <div class="post-content">
      <div class="collection-title">
        <h1 class="collection-header">
          {{- page.tag }}
          <small>{{ __('title.tag') }}</small>
        </h1>
      </div>

      {%- for post in page.posts.toArray() | reverse %}
        <article itemscope itemtype="http://schema.org/Article">
          <header class="post-header">
            {{ partial('_macro/post-card.njk', {post: post}) }}
          </header>
        </article>
      {%- endfor %}
    </div>
  </div>
  {#####################}
  {### END TAG BLOCK ###}
  {#####################}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
